node_modules
dist
.next
/out
/build
/coverage
/cypress/snapshots/actual
/cypress/snapshots/diff
/.pnp
.pnp.js
*.tsbuildinfo
next-env.d.ts

logs
*.log
npm-debug.log*

.DS_Store
*.pem

.eslintcache
.vscode
!.vscode/launch.json

# Keep environment variables out of version control
.env
.env.local

.vercel
__exports__

